body {
    background-color: rgb(167, 126, 255);
    font-family: verdana;
  }
  
h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

h2 {
  color: rgb(19, 18, 18);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  padding-left: 25%;
}

h3 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: rgb(19, 18, 18);
  font-size: 1vw;
  /* margin-bottom: 0pt;
  margin-top: 0pt;
  padding-top: 15pt; */
  /* padding-bottom: 40pt; */
  background-color: #fff4e7;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0%;
}

img {
    height: 320pt;
    width: 320pt;
}

.scrapbookPhoto {
  display: inline-block;
  border: 20px solid #fff4e7;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  max-width: min-content;
  background-color: #fff4e7;
  aspect-ratio: 35/42;
}
span.purple {
  color: rgb(162, 0, 255)
}